.container {
  min-height: 90vh;
  padding: 0 1.5rem;
  height: 80vh;
  width: 70vh;
  background-color: rgb(34, 34, 34);
  color: #fff;
}

.main {
  padding: 1.5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 80vh;
  background-color: rgb(34, 34, 34);
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(34, 34, 34);
  color: #fff;
  align-items: center;
}

.top {
  margin: auto 0;
  padding: 0 1rem;
  color: #fff;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.logo:hover {
  cursor: pointer;
  color: #0070f3;
}

.nav {
  width: 100%;
  justify-content: right;
}

a.back {
  color: #aaa;
  margin-top: 2rem;
}

a.back:hover,
a.back:focus,
a.back:active {
  color: #0070f3;
}

.footerHome {
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: rgb(34, 34, 34);
}

.footerLink {
  color: #999;
}

.footerLink:hover,
.footerLink:focus,
.footerLink:active {
  color: #0070f3;
}
